.marquee-slider(data-marquee-slider, aria-live="polite")
    ul.marquee-slider__track(
                role="list",
                aria-label=_t('INDEX.clients.logoList'),
                aria-hidden="true",
                data-marquee-slider-track
            )
        li(role="listitem") logo
            //- img.logo(
            //-     src=require("../assets/images/svg.svg")
            //-     alt="logo"
            //-     loading="lazy"
            //- )
        li(role="listitem") logo
            //- img.logo(
            //-     src=require("../assets/images/svg.svg")
            //-     alt="logo"
            //-     loading="lazy"
            //- )
        li(role="listitem") logo
            //- img.logo(
            //-     src=require("../assets/images/svg.svg")
            //-     alt="logo"
            //-     loading="lazy"
            //- )
        li(role="listitem") logo
            //- img.logo(
            //-     src=require("../assets/images/svg.svg")
            //-     alt="logo"
            //-     loading="lazy"
            //- )
        li(role="listitem") logo
            //- img.logo(
            //-     src=require("../assets/images/svg.svg")
            //-     alt="logo"
            //-     loading="lazy"
            //- )
